body{
    background-image: url('image_search_1626944346481.png');
    background-size:cover;
    overflow: hidden;
}
.navigation{
    margin-top: 10px;
    text-align: right;
    word-spacing: 20px;
    padding:5px; 
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(233, 223, 223, 0.041);
}
.a:hover,.c:hover{
    color: crimson;
    padding-top:5px;
    padding-bottom:5px;
    background-color: rgba(245, 245, 245, 0.212);
}
.a,.c{
    color: black;
    
}
.forms{
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 7%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 130px;
    background-color: rgba(255, 255, 255, 0.116);
    background-size: cover;
    padding: 60px 10px;
    border-color: black;
    border-style:ridge;
    border-radius: 10px;
}
#name,#email,#number{
    border-radius: 5px;
    border-color: black;
    border-style: groove;
}
.btn{
    text-decoration: black;
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(5, 81, 223, 0.938);
    border-radius: 15px;
    border-width: 2px;
    border-color: black;
    border-style:solid;
    width: 80px;
    height: 40px;
}

