*{
    margin: 0;
    padding:0;
}
#banner{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-size: cover;
    background-position:center;
}
#navbar{
    width: 90%;
    margin:auto;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#particles-js{
    /* margin-top: -50%; */
    /* background-image: url(); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.753),rgba(0, 0, 0, 0.75)),url(../back.jfif);
    top: 0;
}
#logo{
    width: 120px;
    cursor: pointer;
}
#navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
#navbar ul li a{
    margin-right: -15px;
    margin-top: -10px;
    color: rgb(253, 251, 251);
    text-transform: uppercase;
    font-size: 17px;
}
#navbar ul li a:hover{
    color: red;
}
#photo{
    margin:0px 0 0 42.6%;
    width: 185px;
    height: 185px;
    background-image: linear-gradient(rgb(243, 240, 33),rgba(209, 66, 238, 0.712));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ph{
    border-radius: 50%;
}
#intro{
    margin-top: 10px;
    font-family: 'Merriweather', serif;
    color: aliceblue;
    text-align: center;
    font-size: 27px;
    line-height: 10px;
    text-transform: uppercase;
}
#title{
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100px;
    font-weight:400;
    text-align: center;
    line-height: 100px;
}
#slider{
    margin-left:12px ;
    color: red;
    box-sizing: border-box;
    animation: slider 5s linear infinite;
}
@keyframes slider{
    0% {margin-top: -400px;}
    5% {margin-top: -200px;}
    30% {margin-top: -200px;}
    35% {margin-top: 0px;}
    65% {margin-top: 0px;}
    70% {margin-top: 200px;}
    100% {margin-top: 200px;}
}
#contact{
    margin-top: -10px;
    color: rgb(158, 158, 158);
    text-align: center;
}
#contact i{
    text-align: center;
    cursor: pointer;
    color: rgb(248, 246, 246);
    width: 50px;
}
.fab{
    width: 30px;
    height: 30px;
    transition: 0.3s width;
}
.fab:hover{
    color: rgb(212, 36, 36);
}
#fill {
    text-align: center;
    position: relative;
    width: 170px;
    margin: 15px 43.07%;
    padding: 15px 0;
    font-weight: 550;
    font-size: 15px;
    background: transparent;
    color: white;
    border: 2px #03bba9 solid;
    border-radius: 35px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  
#fill:hover {
    color: white;
    border: none;
}
#fill:before {
    content: "";
    position: absolute;
    background: #03bba9;
    bottom: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: bottom 0.15s ease-in;
}
#fill:hover:before {
    bottom: 0;
}
#about{
    width:83%;
    margin-left:10%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .photo2{
    width: 270px;
    height: 270px;
    margin-top: 50px;
    background-image: linear-gradient(rgb(243, 240, 33),rgba(209, 66, 238, 0.712));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}*/
/* .ph2{
     margin-bottom: 10px; 
    border-radius: 50%;
}  */
/* .introduction p{
    margin-right: -20px;
    line-break:strict;
} */
#introduction{
    font-family: serif;
    width: 60%;
    line-height: 30px;
}
#me{
    margin-top: 70px;
    font-weight: 700;
}
#main-skills{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
    height: 200px;
}
#skills{
    width: 160px;
    height: 160px;
    position: relative;
}
#outer{
    transform: scale(1.5);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), 
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    padding: 20px 0;
}
#inner{
    transform: scale(1);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), 
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1), 
            0.5px 0.5px 0px rgba(0,0,0,0.15),
            0px 12px 10px -10px rgba(0,0,0,0.5);
    
}
svg{
    transform: scale(1.5);
}
#number{
    font-weight: 600px;
    color: red;
}
#number2{
    font-weight: 600px;
    color: red;
}
#number3{
    font-weight: 600px;
    color: red;
}
 .c1{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards ;
}
@keyframes anim{
    100%{
       stroke-dashoffset: 118;
    }
}

.c2{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim2 2s linear forwards;
}
@keyframes anim2{
    100%{
       stroke-dashoffset: 165;
    }
}
.c3{
    fill: none;
    stroke:url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim3 2s linear forwards;
}
@keyframes anim3{
    100%{
       stroke-dashoffset: 283;
    }
}
svg{
    position: absolute;
    top: 0;
    left: 0;
}
/* .skillheading{
    width: 90%;
    margin:auto;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

} */
.skillheading ul li{
    font-family:monospace;
    width: 11%;
    margin:0px 0px 5% 14%;
    list-style: none;
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
}
#part{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 85%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
#col{
    width: 48%;
    padding: 30px 22px 30px 22px;
    background-color: rgba(255, 255, 255, 0.637);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#col:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.308);
    /* box-shadow: 4px 4px 4px 4px rgba(124, 124, 124, 0.308); */
}
#box{
    line-height: 27px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.achieve{
    background-image: linear-gradient(rgba(0, 0, 0, 0.753),rgba(0, 0, 0, 0.75)),url(../snowb.jfif);
    background-size: cover;
    padding: 20px 0 50px 0;
}
#btnd{
    font-family:Arial, Helvetica, sans-serif;
}